.rodape{
    background: #bfbfbf;
    color: #fdfdfd; 
    text-align: right; 
    padding: 1.5625rem 5rem; 
     text-align: center;
     font-size: 2rem;
     font-weight: bold;
}

.contato-rodape{
    text-decoration: none;
}

.contato-rodape:hover{
    text-decoration: underline;
    text-decoration-color: #bbbbbb;
    font-size: 2.1rem;
    transition: all 1s;
    padding: 1rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #000000;
    border-radius: 1rem;
}
